name: Wiz CLI IaC Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  Wiz-IaC-Scan:
    runs-on: ubuntu-latest
    env:
      WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
      WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Wiz CLI
        run: curl -o wizcli https://wizcli.app.wiz.io/latest/wizcli && chmod +x wizcli

      - name: Authenticate to Wiz
        run: ./wizcli auth

      - name: Run Wiz CLI IaC Scan
        run: ./wizcli iac scan --path "." -p "${{ vars.WIZ_IAC_POLICY }}" -p "${{ vars.WIZ_SECRETS_POLICY }}" --tag github_action_run_id=${{ github.run_id }}
